<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>Borea</string>
    <key>CFBundleIdentifier</key>
    <string>moe.sapphic.Borea</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Borea</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Borea uses Bluetooth to send noise cancelling and ambient sound commands to your Sony WH-1000XM4 headset.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Borea uses Bluetooth to control your Sony WH-1000XM4 headset.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
